<ion-header>
  <ion-toolbar>
    <ion-title>Profesores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="12" class="text-naranja ion-text-center ">
          <h1 class="text-2rem">Resultados de convocatorias</h1>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">

          <ion-card>
            
            <img src="../../assets/backProfesores.jpg" alt="">

            <ion-card-content class="ion-text-justify">

              <ion-row class="ion-padding-bottom ion-padding-top">
                <ion-col size="12" class="text-naranja">
                  <h2><b>Resultados de la convocatoria de Promoción del Personal Académico  2021</b></h2>
                </ion-col>
                <ion-col size="12">
                  <ul>
                    <li>
                      Promoción Personal Académico
                    </li>
                  </ul>
                </ion-col>
              </ion-row>

              <ion-row class="ion-padding-bottom ion-padding-top">
                <ion-col size="12" class="text-naranja">
                  <h2><b>Resultados de la convocatoria de Proyectos de Investigación 2021</b></h2>
                </ion-col>
                <ion-col size="12">
                  <ul>
                    <li>
                      Proyectos de Investigación 2021
                    </li>
                  </ul>              
                </ion-col>
              </ion-row>
              
              <ion-row class="ion-padding-bottom ion-padding-top">
                <ion-col size="12" class="text-naranja">
                  <h2><b>Profesores Seleccionados para el Fortalecimiento de la Competencia de Inglés</b></h2>
                </ion-col>
                <ion-col size="12">
                  <ul>
                    <li>
                      Resultados Segunda Convocatoria Ingles 2021-2
                    </li>
                  </ul>              
                </ion-col>
              </ion-row>
              
              
              
            </ion-card-content>
          </ion-card> 
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>
