<ion-header>
    <ion-toolbar>
      <ion-title>Alumnos</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <ion-row>
        <ion-col size="12" class="text-naranja ion-text-center">    
            <h1 class="text-2rem">Oferta educativa</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12" style="z-index: 1; text-align: center;">
            <a  (click)="goTo('ingenierias')" class="link-carreras {{selected=='ingenierias'?'activa':''}}" >Ingenierias</a>
            <a   (click)="goTo('licenciaturas')"  class="link-carreras {{selected=='licenciaturas'?'activa':''}}" >Licenciaturas</a>
            <a  (click)="goTo('maestrias')"  class="link-carreras {{selected=='maestrias'?'activa':''}}">Maestrias</a>
        </ion-col>
    </ion-row>
</ion-content>
<ion-router-outlet id="main2" style="top: 200px; "></ion-router-outlet>
