<ion-header>
  <ion-toolbar>
    <ion-title>Academia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12"  >
      <ion-card>
        
        <img src="../../assets/ues-alumnos/backEgresados.jpg" alt="">

        <ion-card-content class="ion-text-justify">

          <ion-row class="ion-padding-bottom ion-padding-top">
            <ion-col size="12" >
              <h1><b>Vinculacíon</b></h1>
            </ion-col>
            <ion-col size="12">
              <p>
                La Universidad Estatal de Sonora tiene como uno de sus propósitos ser un vínculo permanente con todos los sectores de la sociedad, para promover y facilitar el conjunto estructurado y regulado de servicios, procesos y prácticas de las acciones de docencia que se realizan en nuestra Universidad, con el fin de contribuir a resolver necesidades y requerimientos bajo convenios que aseguren beneficios mutuos, fortaleciendo así el posicionamiento institucional y la pertinencia de los programas de docencia, investigación y extensión.
              </p>                  
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-bottom ion-padding-top">
            <ion-col size="12" >
              <h1><b>Convenios</b></h1>
            </ion-col>
            <ion-col size="12">
              <p>
                La vinculación de la institución con su entorno tiene la finalidad de establecer alianzas estratégicas y promover la participación de los tres niveles de gobierno, con el sector productivo, el sector social, las asociaciones de profesionistas y los medios de comunicación, encaminadas a apoyar la formación profesional de los educandos. Actualmente se tienen más de 200 convenios vigentes y operados con organizaciones e instituciones del sector público y privado para el desarrollo profesional y productivo de los estudiantes de las cinco unidades académicas.
              </p>                  
            </ion-col>
          </ion-row>
          
          <ion-row class="ion-padding-bottom ion-padding-top">
            <ion-col size="12" >
              <h1><b>Oficina de Transparencia de Tecnología</b></h1>
            </ion-col>
            <ion-col size="12">
              <p>
                Impulsar ideas innovadoras que atiendan la problemática del sector productivo y social mediante proyectos en materia de propiedad intelectual, resultado de la vinculación y extensión universitaria.
              </p>                  
            </ion-col>
          </ion-row>
          
          <ion-row class="ion-padding-bottom ion-padding-top">
            <ion-col size="12" >
              <h1><b>Seguimiento de Egresados</b></h1>
            </ion-col>
            <ion-col size="12">
              <p>
                La UES cuenta con un sistema de seguimiento de egresados que permite conocer las nuevas exigencias que plantea el ejercicio profesional de los egresados, como consecuencia de las transformaciones económicas, sociales, tecnológicas, para su incorporación oportuna en los planes y programas de estudios, así como también apoyar en el diseño de programas de educación continua pertinentes para la actualización de profesionales en ejercicio.
              </p>                  
            </ion-col>
          </ion-row>
          
          <ion-row class="ion-padding-bottom ion-padding-top">
            <ion-col size="12" >
              <h1><b>Bolsa de Trabajo</b></h1>
            </ion-col>
            <ion-col size="12">
              <p>
                La Bolsa de Trabajo de la universidad tiene la finalidad de contactar a nuestros alumnos y egresados a una oportunidad laboral de acuerdo a los requerimientos de las empresas públicas y privadas tanto estatales, nacionales e internacionales, para ocupar puestos acordes a las carreras estudiadas.
              </p>                  
            </ion-col>
          </ion-row>
          
          <ion-row class="ion-padding-bottom ion-padding-top">
            <ion-col size="12" >
              <h1><b>Servicios a la Industria</b></h1>
            </ion-col>
            <ion-col size="12">
              <p>
                Desarrollar proyectos que permitan a los diferentes sectores competir en el mercado global, con sentido de productividad creciente derivado de productos científicos y tecnológicos requeridos en la actualidad por medio de la fortaleza académica, investigación e innovación.
              </p>                  
            </ion-col>
          </ion-row>
          
        </ion-card-content>
      </ion-card> 
    </ion-col>
  </ion-row>
  
</ion-content>
