<!-- <ion-tabs>
  <ion-tab-bar slot="top" color="vino">
    <ion-tab-button tab="conocenos">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Conocenos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="oferta-educativa">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Oferta educativa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="alumnos">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Alumnos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profesores">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Profesores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="academia">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Academia</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contactanos">
      <ion-icon name="planet-outline"></ion-icon>
      <ion-label>Contactanos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs> -->
